<div class="container">
  <h3 class="text-center mt-5">Employee Details</h3>
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact No</th>
        <th>Zipcode</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees | async">
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.zipcode}}</td>
      </tr>
      
      
    </tbody>
  </table>
</div>